@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

div {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.03em;
}
.flex-wrap {
    display: flex; 
    width: 100%;
}
.flex-inner {
    box-sizing: border-box;
    width: 60%;
}
.flex-outer {
    box-sizing: border-box;
    width: 20%;
}
.flex-triple {
    box-sizing: border-box;
    width: 33%;
}

.img-hover {
    margin: 0.75em;
    transition: width 0.25s, height 0.25s;
    width: 10em;
    height: 10em;
    &:hover {
        transition: width 0.25s, height 0.25s;
        width: 10.5em;
        height: 10.5em;
    }
}
.svgs {
    transition: width 0.25s, height 0.25s;
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    &:hover {
        transition: width 0.25s, height 0.25s;
        width: 2.75em;
        height: 2.75em ;
    }
}
.resume-svgs {
    transition: width 0.25s, height 0.25s;
    width: 5em;
    height: 5em;
    margin: 0.5em;
    &:hover {
        transition: width 0.25s, height 0.25s;
        width: 5.25em;
        height: 5.25em ;
    }
}
#profile {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    width: 353.5px;
    height: 500px;
}

a {
    color: black;
    &:visited {
        color: gray;
    }
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}