@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.img-hover {
    width: 200px;
    height: 200px;
}
.img-hover:hover {
    transition: width 2s, height 4s;
    width: 250px;
    height: 250px ;
}